<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExeDataGrid_NavBinding.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=DESKTOP-MSE8SEM;Initial Catalog=ProdiTI;User ID=sa;Password=katakanpeta19"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>